.container {
  max-width: 600px;
  min-height: 500px;
  margin: 0 auto;
  background-color: whitesmoke;
  box-shadow: 0px 0px 10px gray;
}

.text-centef {
  text-align: center;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
  border-bottom:1px solid black;
  padding-top: 10px;
  margin-right:  200px;
  margin-left: 200px;
  font-size: 30px;
}

.expence-traker {
  display: flex;
  box-shadow: 0px 0px 10px gray;
  justify-content: space-around;
  background-color: white;
}

.Transiction-Form input {
  width: 100%;
  margin: 10px 0px;
  padding: 5px 0px;
}

.list-transix {
  padding: 0;
  margin: 0;
}

.list-transix>li {
  display: flex;
  justify-content: space-between;
  padding: 5px 2px;
  background-color: white;
  box-shadow: 0px 0px 5px gray;
  margin: 10px 5px;
} 

.Subm {
  background-color: lightblue;
  color: black;
  font-size: 20px;
}

.Subm:active {
  background-color: white;
}

.text {
  font-size: 21px;
  font-weight: lighter;
  font-weight: lighter;

}
.Amount{
font-size: 20px;
}

.text1 {
  margin: 30px 0px 0px 0px;
  text-align: center;
  font-size: 21px;
  font-weight: lighter;
  font-family: cursive;
}

.blue {
  color: rgb(81, 196, 235);
  font-weight: bolder;
}

.list {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.grenn{
color: green;
font-size: large;
}
.red{
  color: red;
  font-size: large;
  }
  
  .white{
    color: black;
    font-weight: lighter;
  }